<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ТТН</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<div class="container">

    <br>
    <h3 class="mb-4">Сохранить ТТН</h3>
    <hr>

    <form action="#" th:action="@{/saveBill}" th:object="${bill}" method="post">
        <div class="form-group">
            <input type="hidden" th:field="*{id}">

            <label class="" for="number">Введите номер ТТН:</label>
            <input class="form-control mb-4 col-3"
                   id="number"
                   type="text"
                   th:field="*{number}"
                   placeholder="Номер ТТН">

            <label class="">Введите дату ТТН:</label>
            <input class="form-control mb-4 col-3"
                   type="date"
                   th:field="*{date}"
                   placeholder="Дата ТТН">

            <label class="">Введите сумму оплаты (бел.руб.):</label>
            <input class="form-control mb-4 col-3"
                   type="text" th:field="*{amount}"
                   placeholder="Сумма оплаты">

            <label class="">Введите срок оплаты:</label>
            <input class="form-control mb-4 col-3"
                   type="date"
                   th:field="*{payDate}"
                   placeholder="Срок оплаты">

            <button class="btn btn-info col-3" type="submit">Сохранить</button>
        </div>
    </form>

    <hr>
<!--    <a th:href="@{/list}">Back to Employees List</a>-->
</div>
</body>
</html>