<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Долг</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<div class="container">

    <br>
    <h3 class="mb-4">Расчет долга</h3>
    <hr>

    <p class="">
        Простой расчет долга<br>
        Пеня = долг (сумма ТТН) * ставка (0.15% или любая другая из конкретного дела) * количество дней просрочки
    </p>
    <p class=""
       th:text="'период = ' + ${period} + 'дней. Между ' + ${bill.payDate} + ' и ' + ${debt.calculationDate}">
    </p>
    <p class=""
       th:text="${bill.amount} + ' бел.руб. * ' + ${debt.percent} + '% * ' + ${period} + ' дней = ' + ${penalty}">
    </p>
    <h2 th:text="'Долг равен: ' + ${formattedPenalty} + ' бел.руб.'"></h2>

    <hr>
    <p class="">
        Расчет процентов<br>
        Проценты = долг * ставка нбрб / годовых т.е /365 * дни
    </p>
    <p class=""
       th:text="'Ставка НБРБ на ' + ${refinancingRate.date} + ' составляет ' + ${refinancingRate.value} + '%'">
    </p>
    <p class=""
       th:text="${bill.amount} + ' бел.руб. * ' + ${refinancingRate.value} + '% / (' + ${period} + ' дней * 365 ) = ' +  ${debtPercent}">
    </p>
    <h2 th:text="'Процент долга равен: ' + ${formattedDebtPercent} + ' %'"></h2>

    <hr>
    <a th:href="@{/showFormAddBill}">Назад к вводу ТТН</a>
    <hr>
    <a class="btn btn-info col-md-3"
       th:href="@{/showFormAddPayment}">Добавить частичную оплату</a>

    <hr>
    <p class="">
        сложный расчет долга, если была оплата<br>
    </p>
    <h2 th:text="'Долг с частичной оплатой равен: ' + ${penaltyWithPayment} + ' бел.руб.'"></h2>
    <h2 th:text="'Процент с частичной оплатой равен: ' + ${debtPercentWithPayment} + '%'"></h2>


</div>
</body>
</html>